html, body {
    height: 100%;
    display:table;
	width:100%;
}


.logon-admin-container {
    width: 100%;
    max-width: 1120px;
    min-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logon-admin-container .content {
    width: 100%;
    padding: 96px;
    background: rgba(176, 196, 222, 0.151);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: top;
}

.logon-admin-container .content section {
    width: 100%;
    max-width: 380px;
}

.logon-admin-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.logon-admin-container .content section p {
    font-size: 18px;
    color: #767680;
    line-height: 32px;
}

.logon-admin-container .content form {
    width: 100%;
    max-width: 450px;
}

.logon-admin-container .content form p {
    margin-top: 8px;
}

.logon-admin-container .content form input,
.logon-admin-container .content form textarea {
    margin-top: 8px;
}

.logon-admin-container form .input-group input + input {
    margin-left: 8px;
}

